.filter-controls {
    display: flex;
    justify-content: center;
    border-radius: var(--radius);
}

.btn__filter {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 20px;
    color: var(--footer);
}

.btn__filter-active {
    color: #3C74ED;
}