.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

body.light .hero {
  background-image: url('./images/bg-mobile-light.jpg');
}

body.dark .hero {
  background-image: url('./images/bg-mobile-dark.jpg');
}

body .hero {
  width: 100%;
  max-width: var(--smScreen);
  height: 20rem;
  margin: 0 auto;
  background-repeat: no-repeat;
}

@media screen and (min-width: 375px) {
  body.light .hero {
    background-image: url('./images/bg-desktop-light.jpg');
  }
  body.dark .hero {
    background-image: url('./images/bg-desktop-dark.jpg');
  }
  body .hero {
    max-width: var(--lgScreen);
    height: 30rem;
  }
}

.container {
  position: absolute;
  top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.centered {
  width: 100%;
  max-width: 54rem;
  padding: 0 1.5rem;
}

.drag-text {
  text-align: center;
  font-size: 1.6rem;
  color: var(--footer);
  margin-top: 1.6em;
}