:root {
    --smScreen: 375px;
    --lgScreen: 1445px;
    --radius: 0.8rem;
    /* light theme */
    --lightBG: #F9F9F9;
    --lightItem: #FFF;
    --lightBorder: #E6E5EA;
    --lightLabel: #73737B;
    --lightCB: #E6E5EA;
    --lightFooter: #9F9FA1;
    /* dark theme */
    --darkBG: #171723;
    --darkItem: #25273D;
    --darkBorder: #38394F;
    --darkLabel: #B0B1C9;
    --darkCB: #303248;
    --darkFooter: #505269;
}

body.light {
    --bg: var(--lightBG);
    --itemBG: var(--lightItem);
    --itemBorder: var(--lightBorder);
    --label: var(--lightLabel);
    --cbox: var(--lightCB);
    --footer: var(--lightFooter);
}

body.dark {
    --bg: var(--darkBG);
    --itemBG: var(--darkItem);
    --itemBorder: var(--darkBorder);
    --label: var(--darkLabel);
    --cbox: var(--darkCB);
    --footer: var(--darkFooter);
}

/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: 3px dashed #228bec;
    outline-offset: 0;
}

html {
    font: 62.5% / 1.15 sans-serif;
}

h1, h2 {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    font: 1.8rem/1.25 'Josefin Sans', sans-serif;
}

.title {
    color: #fff;
    letter-spacing: 1rem;
    padding-top: 1rem;
}

button, .btn {
    background-color: transparent;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.item {
    width: 100%;
    height: 5rem;
    background-color: var(--itemBG);
}

.hidden {
    display: none;
}

@media screen and (min-width: 560px) {
    .item {
        height: 6.5rem;
    }
}